USE [master]
GO
/****** Object:  Database [Ciagoar]    Script Date: 2022-03-26 오전 9:35:05 ******/
CREATE DATABASE [Ciagoar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ciagoar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Ciagoar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ciagoar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Ciagoar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ciagoar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ciagoar]
GO
/****** Object:  User [ciagoarmaster]    Script Date: 2022-03-26 오전 9:35:05 ******/
CREATE USER [ciagoarmaster] FOR LOGIN [ciagoarmaster] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ciagoarmaster]
GO
/****** Object:  Table [dbo].[USER_AUTHENTICATION]    Script Date: 2022-03-26 오전 9:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_AUTHENTICATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserInfoID] [int] NOT NULL,
	[AuthenticationType] [smallint] NOT NULL,
	[AuthenticationKey] [nvarchar](512) NOT NULL,
	[IsUse] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NULL,
 CONSTRAINT [PK_USER_AUTHENTICATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_INFO]    Script Date: 2022-03-26 오전 9:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_INFO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[AuthType] [smallint] NOT NULL,
	[Nickname] [nvarchar](64) NOT NULL,
	[IsUse] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NULL,
	[UpdateUserID] [int] NULL,
 CONSTRAINT [PK_USER_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USER_AUTHENTICATION] ADD  CONSTRAINT [DF_USER_AUTHENTICATION_AuthenticationType]  DEFAULT ((0)) FOR [AuthenticationType]
GO
ALTER TABLE [dbo].[USER_AUTHENTICATION] ADD  CONSTRAINT [DF_USER_AUTHENTICATION_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[USER_INFO] ADD  CONSTRAINT [DF_USER_INFO_UserType]  DEFAULT ((0)) FOR [AuthType]
GO
ALTER TABLE [dbo].[USER_INFO] ADD  CONSTRAINT [DF_USER_INFO_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[USER_AUTHENTICATION]  WITH CHECK ADD  CONSTRAINT [FK_USER_AUTHENTICATION_USER_INFO] FOREIGN KEY([UserInfoID])
REFERENCES [dbo].[USER_INFO] ([ID])
GO
ALTER TABLE [dbo].[USER_AUTHENTICATION] CHECK CONSTRAINT [FK_USER_AUTHENTICATION_USER_INFO]
GO
USE [master]
GO
